<html>
<head>
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  <h1>{{title}}</h1>

  <div class="people">

    {{#robots}}
      <div class="person">
        <h5>{{name}}</h5>

      <a href="/users/{{id}}"> <img src="{{avatar}}" alt=""> </a>

      </div>
    {{/robots}}
  </div>

</body>
</html>
